Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mdurl==0.1.2
multidict==6.0.4
numpy==1.23.5
oauthlib==3.2.2
openai==0.27.2
opt-einsum==3.3.0
orjson==3.8.10
outcome==1.2.0
packaging==23.0
pandas==1.5.3
parsel==1.8.1
passlib==1.7.4
Pillow==9.5.0
Protego==0.2.1
protobuf==3.20.3
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyDispatcher==2.0.7
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
seaborn==0.12.2
starlette==0.26.1
streamlit==1.21.0

